@model List<Booking>

<hr class="my-5" />

<!-- Bordered Table -->
<div class="card">
    <div class="card-header" style="display:flex;justify-content:space-between">
        <h2>Rezervasiyalar</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Ad və Soyad </th>
                        <th>Telefon Nömrəsi</th>
                        <th>Tarix və Saat</th>
                        <th>Xüsusi istək</th>
                        <th style="text-align:right">Aksiyonlar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Booking item in Model)
                    {
                        <tr>
                            <td>@item.FullName</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Date.ToShortDateString()  @item.Time.ToShortTimeString()</td>
                            <td>@item.Note</td>
                            <td>
                                <div style="display:flex;justify-content:flex-end">
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger text-white" style="margin-right:10px">Sil</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="pagnation my-2">
                    <ul style="list-style:none;display:flex;justify-content:center;">

                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            <li class="page-item  @(i == ViewBag.CurrentPage ? "active" : "")"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
                        }

                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<!--/ Bordered Table -->

<hr class="my-5" />
