@model FooterVM

<div class="row">
    <div class="col-xl-3 col-sm-6 col-md-3 col-lg-3">
        <div class="single-footer-widget footer_1">
            <h4>Haqqımızda</h4>
            <p>
                Heaven fruitful doesn't over for these theheaven fruitful doe over days
                appear creeping seasons sad behold beari ath of it fly signs bearing
                be one blessed after.
            </p>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-md-2 col-lg-3">
        <div class="single-footer-widget footer_2">
            <h4>Vacib Linklər</h4>
            <div class="contact_info">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Ana Səhifə</a></li>
                    <li><a asp-controller="About" asp-action="Index">Haqqımızda</a></li>
                    <li><a asp-controller="Menu" asp-action="Index">Menu</a></li>
                    <li><a asp-controller="Contact" asp-action="Index">Əlaqə</a></li>
                    <li><a asp-controller="Reservation" asp-action="Index">Rezerv et</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-md-3 col-lg-3">
        <div class="single-footer-widget footer_2">
            <h4>Əlaqə</h4>
            <div class="contact_info">
                <p><span> Adres : </span>@Model.ContactInfo.Address </p>
                <p><span> Telefon : </span>@Model.ContactInfo.PhoneNumber</p>
                <p><span> Email : </span>@Model.ContactInfo.EmailAddress </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-md-4 col-lg-3">
        <div class="single-footer-widget footer_3">
            <h4>Sosial Media</h4>
            <p>Bizi sosial media hesablarımzdan takib edə bilərsiniz.</p>
            <div style="display:flex;">
                @foreach (SocialMedia socialMedia in Model.SocialMedias)
                {
                    <a target="_blank" style="font-size:20px;color:black;" href="@socialMedia.Link">@Html.Raw(socialMedia.Icon)</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="copyright_part_text">
    <div class="row">
        <div class="col-lg-12">
            <p class="footer-text m-0">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Bütün hüquqlar qorunur | Bəhruz Əlizadə tərəfindən hazırlanıb.
            </p>
        </div>
    </div>
</div>